@charset "UFT8";

body{
    background-color:rgb(156, 245, 156) ;
    font-family:Arial, Helvetica, sans-serif ;
}
h1{
color: rgb(5, 125, 73);

}
h1#principal{
    text-align: center;
    color: white;
}
h2{
color: rgb(5, 188, 130);
}
.basico{
color: aqua;
}

.intermediario{
color: gold;
}

.avançado{
color: red;
}
.destaque{
    background-color: darkmagenta;
}