*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: darkgreen;
    background-image:url(netflix-wallpaper.jpeg) ;
    background-attachment: fixed;
}
header{
    background-color: rgba( 0,0,0,0.875);
    max-width: 700px;
    margin: auto;
    padding: 15px;
}


header> imag{
    display: block;
    margin: auto;

}
main,section{
    background-color: white;
    max-width: 700px;
    margin: 150px;
    padding: 5px;    
}
p{
 text-align: justify;
 line-height: 1,5em;
 font-size: 1em;
}